<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
        Application ............ {{{site.name}}}
        Description ............ {{{site.description}}}
        Page ................... {{{page.pageTitle}}}
        Page description ....... {{{page.pageDescription}}}
        Page URL ............... {{{site.url}}}{{{page.uri}}}

        Published by {{{org.name}}}, {{{org.location}}}

        Sources on GitHub ...... {{{org.social.githubUrl}}}
        News & updates ......... {{{org.social.twitterUrl}}}

        Copyright (C) {{{agent.instance.fy}}} {{{org.copyrightHolder.name}}}
        {{{org.copyrightHolder.githubUrl}}} .::. {{{org.copyrightHolder.twitterUrl}}}

        Application service:

        Application layer ...... {{agent.app.name}} v{{agent.app.version}}
        Application model ...... {{agent.integrations.name}} v{{agent.integrations.version}}
        Data platform........... {{agent.platform.data.name}} v{{agent.platform.data.version}}
        Application server ..... {{agent.server.name}} v{{agent.server.version}}
        HTML render platform ... {{agent.platform.document.name}} v{{agent.platform.document.version}}
        Run-time instance ...... {{agent.instance.id}}
        Run-time start ......... {{agent.instance.ts}}

    -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>{{{org.name}}}: {{{page.pageTitle}}}</title>
    <meta name="description" content="{{{page.pageDescription}}}" />
    <link href="https://fonts.googleapis.com/css?family=Play|Montserrat|Share+Tech+Mono|Nunito" rel="stylesheet">
    <link rel='stylesheet' href="/css/holistic.css">
    <!-- See: http://www.favicon-generator.org/ -->
    <link rel="apple-touch-icon", sizes='57x57' href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon", sizes="60x60", href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon", sizes="72x72", href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon", sizes="76x76", href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon", sizes="114x114", href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon", sizes="120x120", href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon", sizes="144x144", href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon", sizes="152x152", href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon", sizes="180x180", href="/images/apple-icon-180x180.png">
    <link rel="icon", type="image/png", sizes="192x192", href="/images/android-icon-192x192.png">
    <link rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png">
    <link rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png">
    <link rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png">
    <link rel="manifest", href="/images/manifest.json">
    <meta name="msapplication-TileColor", content="#ffffff" />
    <meta name="msapplication-TileImage", content="/ms-icon-144x144.png" />
  </head>
  <body style="margin: {{site.theme.body.margin}}; padding: {{site.theme.body.padding}}">
    <!-- ---------------------------------------------------------------------- -->
    <!-- Page content rendered via React (initial server-side render, with client-side dynamic update) -->
    <div id="idContent">{{{html_content}}}</div>
    <!-- ---------------------------------------------------------------------- -->
    <!-- Webpack-generated client-side JavaScript bundle compiled at build time and shared by all pages. -->
    <script type="text/javascript" src="/javascript/client-app-bundle.js"></script>
    <!-- ---------------------------------------------------------------------- -->
    <!-- Inline page-specific JSON "boot ROM" for the generic client-side JavaScript webpack bundle. -->
    <script id="idContext" type="application/json">{{{context_json}}}</script>
    <!-- ---------------------------------------------------------------------- -->
  </body>
</html>
