<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

        Application .............. {{{site.name}}} v{{{agent.app.version}}}
        Description .............. {{{site.description}}}
        Page ..................... {{{page.title}}}
        Page description ......... {{{page.description}}}
        Page URL ................. {{{site.url}}}{{{page.uri}}}

        Published by {{{org.name}}}, {{{org.location}}}

        Sources on GitHub ........ {{{org.social.githubUrl}}}
        News & updates ........... {{{org.social.twitterUrl}}}

        Copyright (C) {{{agent.instance.fy}}} {{{org.copyrightHolder.name}}}

        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

        Application model ........ {{{agent.integrations.name}}} v{{{agent.integrations.version}}}
        Application server ....... {{{agent.server.name}}} v{{{agent.server.version}}}
        Application build ........ {{{agent.app.build.timestamp}}}
        Application commit hash .. {{{agent.app.build.commit}}}
        Application host ......... Node.js v{{{agent.platform.runtime.node}}}
        Application instance ..... {{{agent.instance.id}}}
        Application time ......... {{{agent.instance.ts}}}
        Data platform............. {{{agent.platform.data.name}}} v{{{agent.platform.data.version}}}
        HTML render platform ..... {{{agent.platform.document.name}}} v{{{agent.platform.document.version}}}

        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <base href="{{{site.build.buildConfig.deployConfig.appBasePath}}}">
    <title>{{{page.title}}}</title>
    <meta name="description" content="{{{page.description}}}" />
    <link href="/advertise/rainier/css/rainier-ux-base-core-fonts.css" rel="stylesheet" />
    <link href="/advertise/rainier/css/normalize.css" rel="stylesheet" />
    <link href="/advertise/rainier/css/blueprint.css" rel="stylesheet" />
    <link href="/advertise/rainier/css/blueprint-datetime.css" rel="stylesheet" />
    <link rel='stylesheet' href="/advertise/rainier/css/rainier-ux-base.css">
    <link rel='stylesheet' href="/advertise/rainier/css/rainier-ux-derived.css">
    <!-- See: http://www.favicon-generator.org/ -->
    <link rel="apple-touch-icon", sizes='57x57' href="/advertise/rainier/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon", sizes="60x60", href="/advertise/rainier/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon", sizes="72x72", href="/advertise/rainier/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon", sizes="76x76", href="/advertise/rainier/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon", sizes="114x114", href="/advertise/rainier/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon", sizes="120x120", href="/advertise/rainier/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon", sizes="144x144", href="/advertise/rainier/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon", sizes="152x152", href="/advertise/rainier/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon", sizes="180x180", href="/advertise/rainier/images/apple-icon-180x180.png">
    <link rel="icon", type="image/png", sizes="192x192", href="/advertise/rainier/images/android-icon-192x192.png">
    <link rel="icon", type="image/png", sizes="32x32", href="/advertise/rainier/images/favicon-32x32.png">
    <link rel="icon", type="image/png", sizes="96x96", href="/advertise/rainier/images/favicon-96x96.png">
    <link rel="icon", type="image/png", sizes="16x16", href="/advertise/rainier/images/favicon-16x16.png">
    <meta name="msapplication-TileColor", content="#ffffff" />
    <meta name="msapplication-TileImage", content="ms-icon-144x144.png" />
  </head>
  <body style="background-color: {{{site.theme.BODY.backgroundColor}}}; margin: {{{site.theme.BODY.margin}}}; padding: {{{site.theme.BODY.padding}}};">
    <div id="idQuantcastAppView">{{{html_content}}}</div>
    <script id="idAppRuntime" type="text/javascript" src="/advertise/rainier/javascript/client-app-bundle.js"></script>
    <script id="idAppRuntimeBootROM" type="text/plain">{{{context_json}}}</script>
  </body>
</html>
